.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(234, 234, 234);
    z-index: 100;
    display: flex;
    justify-content : center;
    align-items :center;
}