/* SearchModal.module.css */
.search_modal_cotainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: -10;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  }
  
  .search_modal_cotainer.show {
    width: 300px;
    opacity: 1;
    transition: all 0.5s ease;
  }
  
  .search_modal_cotainer.hide {
    width: 0;
    opacity: 0;
    transition: all 0.5s ease;
  }