/* SearchModal.module.css */
.search_modal_cotainer {
    height: 100%;
    z-index: 8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    margin-left: 60px;
    padding: 10px;
  }
  
  .search_modal_cotainer.show {
    width: 300px;
    opacity: 1;
    transition: all 0.5s ease;
    position: relative;
  }
  
  .search_modal_cotainer.hide {
    width: 0;
    opacity: 0;
    transition: all 0.5s ease;
  }