.header_container{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #fff;
    border-right: 0.3px solid rgb(215, 215, 215);
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
    transition: all 0.6s ease;
    
}

.header_container.modal_open{
    width: 60px;
}

.header_container span{
    font-size: 16px;
}





.link_container{
    height: 600px;
}

