.header_container{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #fff;
    border-right: 0.5px solid black;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
    
}

.header_container.modal_open{
    width: 60px;
}

.header_container span{
    font-size: 16px;
}





.link_container{
    height: 600px;
}









.home{
    margin-right: 10px;
    display: flex;
    align-items: center;
    color : black;
    border-radius : 40px;
    cursor: pointer;  
    width: 100%;

    margin: 5px 0;
}





.text{
    margin-left: 13px;
  position: absolute;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  white-space: nowrap;
  height: 25px;
  overflow: hidden;
  animation: fadeIn 0.6s forwards;

}

.icon{
    font-size: 23px;
    position: relative;
    scale: 1;
    transition: all 0.3s ease;
    border: 1px solid transparent; /* 추가 */
    border-radius: 50%; /* 추가 */
    padding: 5px; /* 추가 */
    display: flex; /* 추가 */
    justify-content: center; /* 추가 */
    align-items: center; /* 추가 */
    margin-bottom: 3px;
}

.home_icon{
    display : flex;
    justify-content: center;
    align-items : center;
}





.home:hover{
    background: rgba(0, 0, 0, 0.03);
}



.home:hover .home_icon{
    scale: 1.05;
}





@keyframes fadeIn {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}


/* 기존의 :hover 효과를 삭제하고 새로운 .selected 클래스 추가 */
.home.selected .home_icon
 {
    color: #000;
    border-color: rgba(0, 0, 0, 0.1); /* 수정 */
    scale: 1.05;
}


